@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><img src="https://img.icons8.com/fluent/1000/000000/box-important.png" alt="warning" class="img-fluid" />我們去掉了活動的部分</p>
<p><img src="https://img.icons8.com/fluent/1000/000000/box-important.png" alt="warning" class="img-fluid" />如果價格為-1 那就有問題了 請到GitHub開issue給我</p>
<p><img src="https://img.icons8.com/fluent/1000/000000/box-important.png" alt="warning" class="img-fluid" />如果價格為-1 那就有問題了 請到GitHub開issue給我</p>
@*<p><img src="https://img.icons8.com/fluent/1000/000000/box-important.png" alt="warning" class="img-fluid" />2020/8/2 加入任搭</p>*@
